/* src/App.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  background-color: #00258F;
  overflow: hidden;
}

.tabs button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 20px;
  transition: 0.3s;
  font-size: 17px;
  color: white;
}

.tabs button:hover {
  background-color: #00258F;
}

.tab-content {
  text-align: center;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #00258F;
  color: white;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #00258F;
}

input {
  margin: 0 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

h2 {
  margin-bottom: 20px;
}

.error {
  color: red;
  margin: 10px;
}
